### There are some new formatting issues that needs to be fixed
- **I am fixing it now because I want to make sure this thing works!**

In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime
import warnings
import requests
import json
import sys
import os
import urllib2
import ast

pd.set_option('display.max_columns', 500)
warnings.filterwarnings('ignore')

In [2]:
missing_game_id = "0021700312"
test = "http://data.nba.com/data/v2015/json/mobile_teams/nba/2017/scores/gamedetail/{}_gamedetail.json".format(missing_game_id)

In [3]:
file_open = urllib2.urlopen(test).read()
ddata = ast.literal_eval(file_open)

away = pd.DataFrame(ddata['g']['vls']['pstsg'])
home = pd.DataFrame(ddata['g']['hls']['pstsg'])

In [4]:
away.columns = [i.upper() for i in away.columns]
away['PLAYER_NAME'] = away['FN'] + " " + away['LN']
away.rename(columns={"POS":"START_POSITION", 'PID': "PLAYER_ID", "PM":'PLUS_MINUS', 'TOV':"TO",
                    'TPA':'FG3A', 'TPM':"FG3M", "MEMO":"COMMENT"}, inplace=True)
away["GAME_ID"] = ddata['g']['gid']
away["TEAM_ABBREVIATION"] = ddata['g']['vls']['ta']
away["TEAM_ID"] = ddata['g']['vls']['tid']
away["TEAM_NAME"] = ddata['g']['vls']['tn']
away["TEAM_CITY"] = ddata['g']['vls']['tc']
away["FG_PCT"] = away['FGA'] / away['FGA']
away["FG3_PCT"] = away['FG3M'] / away['FG3A']
away["FT_PCT"] = away['FTM'] / away['FTA']

for i in ["FG_PCT", "FG3_PCT", "FT_PCT"]:
    away[i] = away[i].fillna(0)

home.columns = [i.upper() for i in home.columns]
home['PLAYER_NAME'] = home['FN'] + " " + home['LN']
home.rename(columns={"POS":"START_POSITION", 'PID': "PLAYER_ID", "PM":'PLUS_MINUS', 'TOV':"TO",
                    'TPA':'FG3A', 'TPM':"FG3M", "MEMO":"COMMENT"}, inplace=True)
home["GAME_ID"] = ddata['g']['gid']
home["TEAM_ABBREVIATION"] = ddata['g']['hls']['ta']
home["TEAM_ID"] = ddata['g']['hls']['tid']
home["TEAM_CITY"] = ddata['g']['hls']['tc']
home["TEAM_NAME"] = ddata['g']['hls']['tn']
home["FG_PCT"] = home['FGA'] / home['FGA']
home["FG3_PCT"] = home['FG3M'] / home['FG3A']
home["FT_PCT"] = home['FTM'] / home['FTA']

for i in ["FG_PCT", "FG3_PCT", "FT_PCT"]:
    home[i] = home[i].fillna(0)

### MAIN_TEAM TABLE

In [5]:
main_team = pd.read_csv("main_players_2017.csv")

In [6]:
new = away.append(home)
new_main_team = main_team.append(new)
new_main_team = new_main_team[main_team.columns]

In [8]:
new.head()

,AST,BLK,BLKA,COMMENT,COURT,DREB,FBPTS,FBPTSA,FBPTSM,FG3A,FG3M,FG3_PCT,FGA,FGM,FG_PCT,FN,FTA,FTM,FT_PCT,GAME_ID,LN,MIN,NUM,OREB,PF,PIP,PIPA,PIPM,PLAYER_ID,PLAYER_NAME,PLUS_MINUS,PTS,REB,SEC,START_POSITION,STATUS,STL,TEAM_ABBREVIATION,TEAM_CITY,TEAM_ID,TEAM_NAME,TF,TO,TOTSEC
0,5,1,1,,1,7,2,2,1,7,3,0.428571,25,12,1.0,Kevin,4,2,0.500000,0021700312,Durant,42,35,0,4,8,10,4,201142,Kevin Durant,8,29,7,19,SF,A,1,GSW,Golden State,1610612744,Warriors,0,6,2539
1,9,0,1,,1,7,0,0,0,3,1,0.333333,10,5,1.0,Draymond,6,4,0.666667,0021700312,Green,38,23,4,2,8,7,4,203110,Draymond Green,-2,15,11,20,PF,A,4,GSW,Golden State,1610612744,Warriors,0,4,2300
2,2,0,0,,0,4,0,0,0,0,0,0.000000,5,5,1.0,Zaza,1,1,1.000000,0021700312,Pachulia,14,27,2,2,10,5,5,2585,Zaza Pachulia,11,11,6,11,C,A,1,GSW,Golden State,1610612744,Warriors,0,1,851
3,2,0,0,,1,3,11,4,4,8,4,0.500000,12,6,1.0,Klay,4,4,1.000000,0021700312,Thompson,38,11,0,1,0,1,0,202691,Klay Thompson,4,20,3,41,SG,A,0,GSW,Golden State,1610612744,Warriors,0,0,2321
4,7,0,0,,1,5,2,2,1,9,3,0.333333,20,9,1.0,Stephen,8,7,0.875000,0021700312,Curry,39,30,0,4,10,8,5,201939,Stephen Curry,4,28,5,23,PG,A,0,GSW,Golden State,1610612744,Warriors,0,5,2363

In [9]:
new.tail()

,AST,BLK,BLKA,COMMENT,COURT,DREB,FBPTS,FBPTSA,FBPTSM,FG3A,FG3M,FG3_PCT,FGA,FGM,FG_PCT,FN,FTA,FTM,FT_PCT,GAME_ID,LN,MIN,NUM,OREB,PF,PIP,PIPA,PIPM,PLAYER_ID,PLAYER_NAME,PLUS_MINUS,PTS,REB,SEC,START_POSITION,STATUS,STL,TEAM_ABBREVIATION,TEAM_CITY,TEAM_ID,TEAM_NAME,TF,TO,TOTSEC
12,0,0,0,,0,0,0,0,0,0,0,0.0,0,0,0.0,Ivica,0,0,0.0,0021700312,Zubac,0,40,0,0,0,0,0,1627826,Ivica Zubac,0,0,0,0,,A,0,LAL,Los Angeles,1610612747,Lakers,0,0,0
13,0,0,0,,0,0,0,0,0,0,0,0.0,0,0,0.0,Vander,0,0,0.0,0021700312,Blue,0,17,0,0,0,0,0,203505,Vander Blue,0,0,0,0,,I,0,LAL,Los Angeles,1610612747,Lakers,0,0,0
14,0,0,0,,0,0,0,0,0,0,0,0.0,0,0,0.0,Alex,0,0,0.0,0021700312,Caruso,0,4,0,0,0,0,0,1627936,Alex Caruso,0,0,0,0,,I,0,LAL,Los Angeles,1610612747,Lakers,0,0,0
15,0,0,0,,0,0,0,0,0,0,0,0.0,0,0,0.0,Luol,0,0,0.0,0021700312,Deng,0,9,0,0,0,0,0,2736,Luol Deng,0,0,0,0,,I,0,LAL,Los Angeles,1610612747,Lakers,0,0,0
16,0,0,0,,0,0,0,0,0,0,0,0.0,0,0,0.0,Kyle,0,0,0.0,0021700312,Kuzma,0,0,0,0,0,0,0,1628398,Kyle Kuzma,0,0,0,0,,I,0,LAL,Los Angeles,1610612747,Lakers,0,0,0

In [10]:
main_team.append(new_main_team).sort_values("GAME_ID").to_csv("main_players_2017.csv", index=False)

### TEAM TABLE

In [11]:
team = pd.read_csv("team_2017.csv")

In [12]:
new_team = new[new.GAME_ID==ddata['g']['gid']].groupby(["GAME_ID", "TEAM_ID", "TEAM_NAME", "TEAM_ABBREVIATION", "TEAM_CITY"])[
    "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", 
    "BLK", "TO", "PF", "PTS", "PLUS_MINUS"].sum().reset_index()
new_team['MIN'] = "240:00:00"
new_team

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN
0,0021700312,1610612744,Warriors,GSW,Golden State,47,94,11.0,12,30,2.095238,21,28,5.208333,12,37,49,30,10,4,22,19,127,20,240:00:00
1,0021700312,1610612747,Lakers,LAL,Los Angeles,47,95,10.0,9,24,2.178571,20,25,5.857143,7,27,34,30,12,5,17,23,123,-20,240:00:00

In [13]:
team.head(2)

,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,FGM,FG_PCT,FTA,FTM,FT_PCT,GAME_ID,MIN,OREB,PF,PLUS_MINUS,PTS,REB,STL,TEAM_ABBREVIATION,TEAM_CITY,TEAM_ID,TEAM_NAME,TO
0,19,4,41,22,5,0.227,83,38,0.458,25,21,0.84,21700001,240:00:00,9,25,3,102,50,3,CLE,Cleveland,1610612739,Cavaliers,17
1,24,4,37,32,8,0.250,88,36,0.409,25,19,0.76,21700001,240:00:00,9,24,-3,99,46,11,BOS,Boston,1610612738,Celtics,10

In [14]:
team.append(new_team).sort_values("GAME_ID").to_csv("team_2017.csv", index=False)

In [15]:
start_bench = pd.read_csv("start_bench_2017.csv")
start_bench.head(2)

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,STARTERS_BENCH,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,21700001,1610612739,Cavaliers,CLE,Cleveland,Starters,164:04:00,27.0,62.0,0.435,4.0,18.0,0.222,19.0,21.0,0.905,7.0,31.0,38.0,16.0,2.0,4.0,13.0,10.0,77.0
1,21700001,1610612739,Cavaliers,CLE,Cleveland,Bench,75:56:00,11.0,21.0,0.524,1.0,4.0,0.250,2.0,4.0,0.500,2.0,10.0,12.0,3.0,1.0,0.0,4.0,15.0,25.0

In [16]:
new['STARTERS_BENCH'] = 'Bench'
new.loc[new["START_POSITION"] != "", 'STARTERS_BENCH'] = 'Starters'

In [17]:
new_start_bench = new[new.GAME_ID==ddata['g']['gid']].groupby(["GAME_ID", "TEAM_ID", "TEAM_NAME", "TEAM_ABBREVIATION", 
                                                               "TEAM_CITY", "STARTERS_BENCH"])[
    "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", 
    "BLK", "TO", "PF", "PTS", "PLUS_MINUS"].sum().reset_index()

In [18]:
start_bench.append(new_start_bench).sort_values("GAME_ID").to_csv("start_bench_2017.csv")

### End